<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>BAUSTian</h1>
        <p>A platform for BAUSTians to explore and connect with each other. Help us get stronger bond to improve together</p>
        <h2>
          <ion-icon ios="logo-android" md="logo-android" name="logo-android"></ion-icon>
          App Version: 3.4.7 (alpha)
        </h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card button="true">
          <ion-card-header>
            <img alt="dev image" src="https://placehold.jp/1280x720.png">
            <ion-card-title>S. M. A Sayem Prodhan</ion-card-title>
            <ion-card-subtitle>200101091</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>Database Design</ion-item>
              <ion-item>Application API</ion-item>
              <ion-item>Admin backend</ion-item>
              <ion-item>Messaging</ion-item>
              <ion-item>UI base</ion-item>
              <ion-item>System deployment</ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true">
          <ion-card-header>
            <img alt="dev image" src="https://placehold.jp/1280x720.png">
            <ion-card-title>Md. Saklain Sarowor</ion-card-title>
            <ion-card-subtitle>200101088</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>Database</ion-item>
              <ion-item>Login</ion-item>
              <ion-item>Signup</ion-item>
              <ion-item>UI design</ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card button="true">
          <ion-card-header>
            <img alt="dev image" src="https://placehold.jp/1280x720.png">
            <ion-card-title>Md. Rayhan Ali</ion-card-title>
            <ion-card-subtitle>200101099</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>Search</ion-item>
              <ion-item>Admin department add</ion-item>
              <ion-item>Android app</ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true">
          <ion-card-header>
            <img alt="dev image" src="https://placehold.jp/1280x720.png">
            <ion-card-title>Mehedi Hasan Jim</ion-card-title>
            <ion-card-subtitle>200101078</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>Application Backend</ion-item>
              <ion-item>Frontend UI</ion-item>
              <ion-item>Android app</ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
